<div class=\"mw-parser-output\">
  <h2><span class=\"mw-headline\" id=\"Explications\">Explications</span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_1_activit%C3%A9s_humaines&amp;veaction=edit&amp;section=1\"
        class=\"mw-editsection-visualeditor\" title=\"Modifier la section : Explications\">modifier</a><span
        class=\"mw-editsection-divider\"> | </span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_1_activit%C3%A9s_humaines&amp;action=edit&amp;section=1\"
        title=\"Modifier la section : Explications\">modifier le wikicode</a><span
        class=\"mw-editsection-bracket\">]</span></span></h2>\n<p>C'est par l\u00e0 que tout commence... C'est aussi par
    l\u00e0 que commence le 5\u00e8me rapport du GIEC, dans l'avant-propos de son r\u00e9sum\u00e9, il est mis en
    \u00e9vidence que <i>la science montre \u00e0 pr\u00e9sent avec 95&#160;% de certitude que depuis le milieu du XXe
      si\u00e8cle, l\u2019activit\u00e9 humaine est la cause principale du r\u00e9chauffement observ\u00e9</i>.<sup
      id=\"cite_ref-1\" class=\"reference\"><a href=\"#cite_note-1\">&#91;1&#93;</a></sup>\n</p>
  <p>Cette carte peut \u00eatre consid\u00e9r\u00e9e...\n</p>\n<ul>
    <li>soit comme la <b>cause</b> de l'ensemble des cartes secteurs \u00e9conomiques (<a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_2_industrie\" title=\"Fr-fr adulte carte 2
        industrie\">Industrie</a>, <a href=\"/wiki/index.php?title=Fr-fr_adulte_carte_3_utilisation_des_b%C3%A2timents\"
        title=\"Fr-fr adulte carte 3 utilisation des b\u00e2timents\">Utilisation des b\u00e2timents</a>, <a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_4_transport\" title=\"Fr-fr adulte carte 4
        transport\">Transport</a>, <a href=\"/wiki/index.php?title=Fr-fr_adulte_carte_8_agriculture\" title=\"Fr-fr
        adulte carte 8 agriculture\">Agriculture</a>),</li>\n<li>soit comme un <b>titre</b> de l'ensemble de ces cartes
      (qui sont alors regroup\u00e9es dans une grosse \u201cpatate\u201c).</li>
  </ul>\n<div class=\"mw-references-wrap\">
    <ol class=\"references\">\n<li id=\"cite_note-1\"><span class=\"mw-cite-backlink\"><a
            href=\"#cite_ref-1\">\u2191</a></span> <span class=\"reference-text\"><a rel=\"nofollow\" class=\"external
            text\"
            href=\"https://archive.ipcc.ch/pdf/assessment-report/ar5/wg1/WG1AR5_SummaryVolume_FINAL_FRENCH.pdf#page=6\">Extraits
            de la contribution du Groupe de travail I au cinqui\u00e8me Rapport d\u2019\u00e9valuation du GIEC,
            avant-propos page v</a></span>\n</li>\n</ol>
  </div>\n
  <!-- \nNewPP limit report\nCached time: 20211030104550\nCache expiry: 86400\nDynamic content: false\nComplications: []\nCPU time usage: 0.018 seconds\nReal time usage: 0.057 seconds\nPreprocessor visited node count: 12/1000000\nPost\u2010expand include size: 0/2097152 bytes\nTemplate argument size: 0/2097152 bytes\nHighest expansion depth: 2/40\nExpensive parser function count: 0/100\nUnstrip recursion depth: 0/20\nUnstrip post\u2010expand size: 83/5000000 bytes\n-->\n
  <!--\nTransclusion expansion time report (%,ms,calls,template)\n100.00%    0.000      1 -total\n-->\n
</div>
