<div class=\"mw-parser-output\">
  <h2><span id=\"Carte_adulte_#3_:_Utilisation_des_b\u00e2timents\"></span><span class=\"mw-headline\"
      id=\"Carte_adulte_.233_:_Utilisation_des_b.C3.A2timents\">Carte adulte #3&#160;: Utilisation des
      b\u00e2timents</span><span class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_3_utilisation_des_b%C3%A2timents&amp;veaction=edit&amp;section=1\"
        class=\"mw-editsection-visualeditor\" title=\"Modifier la section : Carte adulte #3\u00a0: Utilisation des
        b\u00e2timents\">modifier</a><span class=\"mw-editsection-divider\"> | </span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_3_utilisation_des_b%C3%A2timents&amp;action=edit&amp;section=1\"
        title=\"Modifier la section : Carte adulte #3\u00a0: Utilisation des b\u00e2timents\">modifier le
        wikicode</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<center>\n<p><a
        href=\"/wiki/index.php?title=Fichier:Fr-fr_adulte_carte_3_recto.png\" class=\"image\"><img alt=\"Fr-fr adulte
          carte 3 recto.png\"
          src=\"/wiki/images/thumb/6/60/Fr-fr_adulte_carte_3_recto.png/400px-Fr-fr_adulte_carte_3_recto.png\"
          decoding=\"async\" width=\"400\" height=\"272\" srcset=\"/wiki/images/6/60/Fr-fr_adulte_carte_3_recto.png
          1.5x\" /></a>\n</p>
    <p><br />L\u2019utilisation du b\u00e2timent (logement et services) utilise des\n<br />\u00e9nergies fossiles et de
      l'\u00e9lectricit\u00e9. Cela repr\u00e9sente 20%\n<br />des Gaz \u00e0 Effet de Serre (GES).\n</p>\n
  </center>\n
  <!-- \nNewPP limit report\nCached time: 20211030071308\nCache expiry: 86400\nDynamic content: false\nComplications: []\nCPU time usage: 0.016 seconds\nReal time usage: 0.047 seconds\nPreprocessor visited node count: 2/1000000\nPost\u2010expand include size: 0/2097152 bytes\nTemplate argument size: 0/2097152 bytes\nHighest expansion depth: 2/40\nExpensive parser function count: 0/100\nUnstrip recursion depth: 0/20\nUnstrip post\u2010expand size: 0/5000000 bytes\n-->\n
  <!--\nTransclusion expansion time report (%,ms,calls,template)\n100.00%    0.000      1 -total\n-->\n
</div>
