<div class=\"mw-parser-output\">
  <h2><span id=\"Carte_adulte_#1_:_Activit\u00e9s_humaines\"></span><span class=\"mw-headline\"
      id=\"Carte_adulte_.231_:_Activit.C3.A9s_humaines\">Carte adulte #1&#160;: Activit\u00e9s humaines</span><span
      class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_1_activit%C3%A9s_humaines&amp;veaction=edit&amp;section=1\"
        class=\"mw-editsection-visualeditor\" title=\"Modifier la section : Carte adulte #1\u00a0: Activit\u00e9s
        humaines\">modifier</a><span class=\"mw-editsection-divider\"> | </span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_1_activit%C3%A9s_humaines&amp;action=edit&amp;section=1\"
        title=\"Modifier la section : Carte adulte #1\u00a0: Activit\u00e9s humaines\">modifier le wikicode</a><span
        class=\"mw-editsection-bracket\">]</span></span></h2>\n<center>\n<p><a
        href=\"/wiki/index.php?title=Fichier:Fr-fr_adulte_carte_1_recto.png\" class=\"image\"><img alt=\"Fr-fr adulte
          carte 1 recto.png\" src=\"/wiki/images/0/01/Fr-fr_adulte_carte_1_recto.png\" decoding=\"async\" width=\"400\"
          height=\"272\" /></a>\n</p>
    <p>C'est l\u00e0 que tout commence...\n</p>\n
  </center>\n
  <!-- \nNewPP limit report\nCached time: 20211030072920\nCache expiry: 86400\nDynamic content: false\nComplications: []\nCPU time usage: 0.014 seconds\nReal time usage: 0.045 seconds\nPreprocessor visited node count: 2/1000000\nPost\u2010expand include size: 0/2097152 bytes\nTemplate argument size: 0/2097152 bytes\nHighest expansion depth: 2/40\nExpensive parser function count: 0/100\nUnstrip recursion depth: 0/20\nUnstrip post\u2010expand size: 0/5000000 bytes\n-->\n
  <!--\nTransclusion expansion time report (%,ms,calls,template)\n100.00%    0.000      1 -total\n-->\n
</div>
