<div class=\"mw-parser-output\">
  <h3><span class=\"mw-headline\" id=\"Autres_causes\">Autres causes</span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_25_biodiversit%C3%A9_terrestre&amp;veaction=edit&amp;section=1\"
        class=\"mw-editsection-visualeditor\" title=\"Modifier la section : Autres causes\">modifier</a><span
        class=\"mw-editsection-divider\"> | </span><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_25_biodiversit%C3%A9_terrestre&amp;action=edit&amp;section=1\"
        title=\"Modifier la section : Autres causes\">modifier le wikicode</a><span
        class=\"mw-editsection-bracket\">]</span></span></h3>\n<ul>
    <li><a href=\"/wiki/index.php?title=Fr-fr_adulte_carte_8_agriculture\" title=\"Fr-fr adulte carte 8
        agriculture\">Agriculture</a> On pense ici surtout aux pesticides (notamment au Round-up ou aux
      n\u00e9onicotino\u00efdes). Pas de lien avec le climat, mais relation int\u00e9ressante \u00e0 faire</li>\n<li><a
        href=\"/wiki/index.php?title=Fr-fr_adulte_carte_6_d%C3%A9forestation\" title=\"Fr-fr adulte carte 6
        d\u00e9forestation\">D\u00e9forestation</a> La d\u00e9forestation cause \u00e9norm\u00e9ment de perte de
      biodiversit\u00e9&#160;:\n<ul>
        <li>Animale car la for\u00eat est un h\u00f4te de beaucoup d'esp\u00e8ce. L'indice de biodiversit\u00e9 des
          for\u00eats a chut\u00e9 de 53% entre 1970 et 2014 <sup id=\"cite_ref-FAO_2020_1-0\" class=\"reference\"><a
              href=\"#cite_note-FAO_2020-1\">&#91;1&#93;</a></sup>.</li>\n<li>V\u00e9g\u00e9tale car sur les 60 000
          esp\u00e8ces d'arbres connues, 8000 sont consid\u00e9r\u00e9es comme menac\u00e9es<sup
            id=\"cite_ref-FAO_2020_1-1\" class=\"reference\"><a href=\"#cite_note-FAO_2020-1\">&#91;1&#93;</a></sup>.
        </li>
      </ul>
    </li>\n<li><a href=\"/wiki/index.php?title=Fr-fr_adulte_carte_27_biodiversit%C3%A9_marine\" title=\"Fr-fr adulte
        carte 27 biodiversit\u00e9 marine\">Biodiversit\u00e9 marine</a> Les deux types de biodiversit\u00e9 peuvent
      interagir entres elles.</li>
  </ul>\n<div class=\"mw-references-wrap\">
    <ol class=\"references\">\n<li id=\"cite_note-FAO_2020-1\"><span class=\"mw-cite-backlink\">\u2191 <sup><a
              href=\"#cite_ref-FAO_2020_1-0\">1,0</a></sup> et <sup><a
              href=\"#cite_ref-FAO_2020_1-1\">1,1</a></sup></span> <span class=\"reference-text\"><a rel=\"nofollow\"
            class=\"external text\" href=\"http://www.fao.org/3/ca8642en/CA8642EN.pdf#page=18\"><i>The State of the
              World\u2019s Forests 2020, Executive Summary</i>, FAO</a></span>\n</li>\n</ol>
  </div>\n
  <!-- \nNewPP limit report\nCached time: 20211030112406\nCache expiry: 86400\nDynamic content: false\nComplications: []\nCPU time usage: 0.018 seconds\nReal time usage: 0.061 seconds\nPreprocessor visited node count: 16/1000000\nPost\u2010expand include size: 0/2097152 bytes\nTemplate argument size: 0/2097152 bytes\nHighest expansion depth: 2/40\nExpensive parser function count: 0/100\nUnstrip recursion depth: 0/20\nUnstrip post\u2010expand size: 206/5000000 bytes\n-->\n
  <!--\nTransclusion expansion time report (%,ms,calls,template)\n100.00%    0.000      1 -total\n-->\n
</div>
